torch>=2.11.0
tensordict
numpy
openvr==2.5.102
pyserial>=3.5
gymnasium[mujoco]
mujoco
mujoco-mjx
hydra-core
hydra-submitit-launcher
jax[cuda13]>=0.11.0; sys_platform == "linux"
jax>=0.11.0; sys_platform != "linux"
omegaconf
termcolor
optuna
pandas
plotly
kaleido
setuptools==81.0.0
wandb[media]
mujoco-truss-gen>=0.12.2
torch_geometric
